/**
 * UseCase (Command) のサンプル実装です。
 */

/*
import { BaseCommandUseCase } from "./base.command";
// import { UserEntity } from "@workspace/domain/src/models/user.entity";
// import { IUserRepository } from "@workspace/domain/src/repositories/user.repository";

// type CreateUserInput = { email: string; name?: string };

export class CreateUserCommand extends BaseCommandUseCase<CreateUserInput, any> {
  // コンストラクタインジェクションでインターフェース（Repository）を受け取る
  // constructor(private userRepository: IUserRepository) {
  //   super();
  // }

  // async execute(input: CreateUserInput) {
  //   // 1. ビジネスロジック（エンティティの生成やメソッド呼び出しなど）
  //   // const user = UserEntity.create(input.email, input.name); 
  //   
  //   // 2. 永続化
  //   // await this.userRepository.save(user);

  //   // return { id: user.id, email: user.email };
  // }
}
*/
